body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url('webpic/green.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Set text color to white for better contrast against the background image */
}

header {
    background: rgba(51, 51, 51, 0.8); /* Add semi-transparent background to make the text readable */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); /* Add semi-transparent background to make the text readable */
    margin: 20px;
    border-radius: 8px; /* Optional: add rounded corners to the main container */
}

section {
    margin-bottom: 2rem;

}
.image-container{
    height: 400px;
    width: 500px;
}
.image-container img{
    height: 300px;
    width: 300px;
    
}

footer {
    background: rgba(51, 51, 51, 0.8); /* Add semi-transparent background to make the text readable */
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative;
}
